.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
  margin: 20px;
  width: 45%;
}
.nameDiv {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.runner_details_heading {
  font-family: 'Roboto';
  margin-bottom: 0px;
}
.small_heading {
  font-size: 15px;
}
.add_button {
  color: #ffffff;
  padding: 10px;
  background-color: black;
  border-radius: 4px;
}
.header_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.list-style {
  list-style-type: none;
}
.main-div {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: lightgrey;
  height: 100%;
}
.right_container {
  align-items: center;
  width: 45%;
  margin: 20px;
}
.input {
  height: 30px;
}
.list-container {
  height: 60%;
}
.race-button {
  background-color: crimson;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  transform: skew(-20deg);
  margin-left: 80%;
}
